.checkbox-group {
    align-items: center;
    display: inline-flex;
    align-items: center;
  
  }
  
  .checkbox-group>input {
    display: none;
  }
  
  .checkbox-group>label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 0.5px;
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #e1cbc4;
    color: #be441d;
  }
  
  .checkbox-group>label>span:nth-child(2) {
    color: rgb(210, 21, 21);
  }
  
  .checkbox-group>label.checked {
    background-color: #be441d;  
    color: #fff;
  }
  