.checkbox-group {
  display: flex;
  align-items: center;
  user-select: none;
}

.checkbox-group>input {
  display: none;
}

.checkbox-group>label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #e1cbc4;
  color: #63358d;
}

.checkbox-group>label>span:nth-child(2) {
  color: #63358d;
}

.checkbox-group>label.checked {
  background-color: #63358d; 
  color: #fff;
}
