.addForm {
  background-color: #fafafa;
  border: 3px solid #ddd;
  padding: 20px
}

.addForm > .addFormButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.addForm > .addFormButtons > button {
  appearance: none;
  border: 3px solid #134694;
  background: #165fc9;
  color: white;
  padding: 5px 10px;
  border-bottom-width: 2px;
  font-size: 13px;
  cursor: pointer;
}

.addForm > .input-group, .addForm > .textarea-group {
  margin-bottom: 20px;
}

